---
layout: default
---

<div class="ctx">
<div class="cntr">
    <div class="articles">
        <h1>
        {% if page.category != "sky of sora" %}
            Category: {{ page.category }}
        {% else %}
            Sky of Sora
        {% endif %}
        </h1>
        <span class="item-count mpad">
            {{ site.categories.[page.category] | size }} in total
        </span>
        <ul>
            {% for post in site.categories.[page.category] %}
                <li>
                    <p class="stamp"><time>{{ post.date | date: '%m/%d/%Y %H:%M UTC' }}</time></p>
                    <h3 class="atcl_title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <div class="categroy_list">
                        <ul>
                            {% for category in post.categories %}
                                <li><a href="#">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p class="atcl_desc">{{ post.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>
