{% include sos_count %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title != "Category: sky of sora" %}{{ page.title }}{% else %}Sky of Sora{% endif %} | TukuZaZa's</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="tuxzz, tukuzaza{% for cat in page.categories %}, {{cat}}{% endfor %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="TukuZaZa's" />
    <link rel="stylesheet" href="/assets/css/main.min.css">
</head>
<body>
    <!--[if gte IE 9]><!-->
    <aside>
    <a id="topButton" href="javascript:toTop();"><span class="fa fa-arrow-up"></span></a>
    <div class="lbutton"><a href="javascript:showLeft();"><span class="fa fa-bars"></span></a></div>
    <div id="left" class="left">
        <ul>
            <li><a href="{{ site.url }}/">Home</a></li>
            <li><a href="{{ site.url }}/categories">Categories</a></li>
            <li><a href="{{ site.url }}/archives">Archives</a></li>
            <li><a href="{{ site.url }}/about">About</a></li>
            {% if sos_count != '0' %}
                <li class="space"></li>
                <li><a href="{{ site.url }}/categories/sky%20of%20sora">Sky of Sora</a></li>
            {% endif %}
        </ul>
    </div>
    </aside>
    
    {{ content }}
    
    <footer>
        <p>
            &copy;{{ site.time | date: '%Y' }} TukuZaZa<br>
            BitMessage: BM-NB2k8tiv2gc23PZmrmNkgHr9iLyiN7gH<br>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="CC-BY-NC-ND 4.0" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
        </p>
        <a href="/feed.xml"><span style="font-size: 24pt;" class="fa fa-rss-square"></span></a><br>
    </footer>
    
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/hljs.min.css">
    <script src="/assets/js/highlight.pack.js" async onload="javascript:hljs.initHighlightingOnLoad();"></script>
    <script>
        window.tbt = document.getElementById("topButton")
        window.left = document.getElementById("left")
        function showTopButton(){topButton.className = ""}
        function hideTopButton(){topButton.className = "hidden"}
        function toTop(){window.tsc = setInterval(function(){
            document.body.scrollTop *= 0.8
            if(document.body.scrollTop < 1)
            {
                document.body.scrollTop = 0
                window.tsc = clearInterval(tsc)
            }
        }, 5)}
        function showLeft()
        {
            if(left.className === "left")
                left.className = "left show"
            else
                left.className = "left"
        }
        function checkPosition(){if(document.body.scrollTop) showTopButton(); else hideTopButton()}
        window.onscroll = checkPosition
        checkPosition()
    </script>
    <!--[else]>
    <link rel="stylesheet" href="/assets/css/fuckie.css">
    <h1>NO IE!</h1>
    <p>Use Chrome 30+, Firefox 20+ or IE9+ instead.</p>
    <p>&copy;{{ site.time | date: '%Y' }} TukuZaZa<br>
    BitMessage: BM-NB2k8tiv2gc23PZmrmNkgHr9iLyiN7gH<br></p>
    <![endif]-->
</body>
</html>