---
layout: default
title: TukuZaZa's
---

{% include post_count %}

<div class="ctx">
<div class="cntr">
    <div class="articles">
        <h1>Articles</h1>
        <span class="item-count mpad">
            {{ post_count }} in total
        </span>
        <div class="mpad"></div>
        <ul>
            {% for post in paginator.posts %}
            {% assign notsos = true %}
            {% for category in post.categories %}
                {% if category == "sky of sora" %}
                    {% assign notsos = false %}
                {% endif %}
            {% endfor %}
            {% if notsos %}
                <li>
                    <p class="stamp"><time>{{ post.date | date: '%m/%d/%Y %H:%M UTC' }}</time></p>
                    <h3 class="atcl_title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
                    <div class="categroy_list">
                        <ul>
                            {% for category in post.categories %}
                            <li><a href="{{ site.url }}/categories/{{ category }}">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p class="atcl_desc">{{ post.description }}</p>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% include pages.html %}
</div>
</div>