{% extends "include/base.html" %}
{% block title %}{{article.title|striptags}}{% endblock %}
{% block pagetitle %}{{article.title|striptags}}{% endblock %}

{% block headerAddational %}
<div id="pagesubtitle">{{article.subtitle|striptags}}</div>
<div id="pageprop">
    {{article.date.strftime('%m/%d/%Y %H:%M %z')}},
    {% for tag in article.tags %}
    <span class="tag"><a href="{{SITEURL}}/tag/{{tag}}">{{tag}}</a></span>{% if not loop.last %}, {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block pagecontent %}
<article>
{{ article.content }}
</article>
{% endblock %}